<div class="card" >
  <p-card >
<div class="telaLogin"  id="telaLogin">

  <form autocomplete="off" >
    <div class="ui-g ui-fluid">

      <div class="ui-g-12">
        <h2>Login de Acesso</h2>
      </div>

      <div class="ui-g-12">
        <input pInputText type="email" [(ngModel)]="usuario.login" id="login" name="login" placeholder="E-mail">
      </div>

      <span style="margin-right: 5px;"></span>
      <div class="ui-g-12">
        <input pInputText type="password" [(ngModel)]="usuario.senha" id="senha" name="senha" placeholder="Senha">
      </div>

      <span style="margin-right: 5px;"></span>
      <div class="ui-g-12">
        <button pButton type="button" label="Entrar" (click)="login(usuario)"></button>
      </div>

    </div>
  </form>

</div>
</p-card>
</div>
